{% extends "ATodoGasApp/index.html" %}
{% load static %}
        {% block content %}
        <link rel="stylesheet" href="{% static 'ATodoGasApp/css/styleClientes.css' %}">
    
                <section class = "cliente">   
                <h1 style= "color:black; left: 415px; font-size: 29px;">
                ***Gestión de Clientes***
                </h1> 
                <hr width=100% align ="center">
                
                
                <h3 style= "color:brown; text-align: center;">Formulario Registro</h3>
                    <section class="form-register">
                        <form id="form1" method="post" action="enviar.sql">
                        <label style="color: beige;" for="nombre">Nombre: </label>
                        <input size="55%" class ="controls" type="text" name ="nombre" id=nombre placeholder="Ingrese el nombre">
                        </br></br>
                        <label style="color: beige;"for="apellido">Apellido: </label>
                        <input size="55%" class ="controls" type="text" name ="apellido" id="apellido" placeholder="Ingrese el apellido">
                        </br></br>
                        <label style="color: beige;"for="identificacion">Identificación: </label>
                        <input size="55%" class ="controls" type="search" name ="identificación" id="identificacion" placeholder="Ingrese el id">
                        </br></br>
                        <label style="color: beige;"for="telefono">Teléfono: </label>
                        <input size="55%" class ="controls" type="text" name ="telefono" id="telefono" placeholder="Ingrese el número de teléfono">
                        </br></br>
                        <label style="color: beige;"for="direccion">Dirección: </label>
                        <input size="55%" class ="controls" type="text" name ="direccion" id="direccion" placeholder="Ingrese la dirección">
                        </br></br>    
                        </form> 
                    </section>
                <input size="65" class ="volver" type="submit" value="volver">
                <input size="65" class ="crear" type="submit" value="crear">
                <input size="65" class ="editar" type="submit" value="editar">
                
                </section>
           
            
            
        
        {% endblock %}

