{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'ATodoGasApp/css/cs_Index.css' %}">

</head>
<body>
    <div id = "barra">
        <div class = "boton-esconder">jk
            <span>&#9776;</span>
        </div>
        <ul>
            <li>
                <img src="{% static 'ATodoGasApp/logo.png' %}" alt = "Logo">
            </li>
            <li>Consultar</li>
            <li>Crear Cliente</li>
            <li>Venta</li>

    </div>
    <script src= "\ATodoGasWeb\ATodoGasApp\static\ATodoGasApp\js\js_Index.js" charset="utf-8"></script>
</body>
</html>