{%extends "ATodoGasApp\index.html" %}
{% load static %}



{% block content %}
  <!DOCTYPE html>
  <head>
<link rel="stylesheet" href="{% static 'ATodoGasApp/css/cs_Ventas.css' %}">

{% block javascript %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="{% static 'ATodoGasApp/js/eliminar_filap.js' %}"></script>
{% endblock %}
</head>
<body>
<section class = "seccionArriba">
    <form method="POST">
        <div class="row align-items-center">
        {% csrf_token %}
        <div class="col input-group mb-3 pt-3 pl-4">

       {% if clienteselect %}
          <select id = "comboClientes" class = "form-control"  name="clientes">

                      {% for c in clientes %}
                          {% if clienteselect != c.idpersona  %}                            
                            <option value={{c.idpersona}}>{{c.nombre}} {{c.apellido}}</option>
                          {% else %}
                            <option value={{c.idpersona}} selected>{{c.nombre}}  {{c.apellido}}</option>
                          {% endif %}
                      {% endfor %}
          </select>
        {% else %}
          <select id = "comboClientes" class = "form-control"  name="clientes">
                    <option>seleccione un cliente...</option>
                    {% for c in clientes %}
                    <option value={{c.idpersona}}>{{c.nombre}}  {{c.apellido}}</option>
                    {% endfor %}
          </select> 
        {% endif %}
              
        <div class="input-group-append">              
                <button  class="btn btn-primary" name='consultar_cliente' type="submit"><i class="fa fa-search-plus"></i></button>
                </div>          
          </div><div class="col"> 
            {% if user.is_authenticated %}          
            <input type="text"  class="form-control " readonly placeholder="Vendedor" name= "nombre_usuario" value={{ user.username }}>       
            {% endif %} 
          </div>
    
          <div class="col">
          {% if nventa %}
            <input type="text" class="form-control" name="n_venta" value="{{nventa}}">
          {% else %}
            <input type="text" class="form-control" name="n_venta" placeholder="N° Venta">
          {% endif %}
          </div>
            
          
          <div class="col pr-4"> 
            {% if fecha %}
            <input class="form-control" type="date" value="{{fecha}}" name="fecha">  
            {% else %}
            <input class="form-control" type="date" placeholder="fecha de venta" name="fecha">
            {% endif %} 
          </div>
        </div>
        <div class="row align-items-start">
            <div class="col pl-4">
              {% if id_factura %}
                <input type="text" class="form-control" value="{{id_factura}}" name="id_factura">
              {% else %}
               <input type="text" class="form-control" placeholder="n° factura" name="id_factura">
              {% endif %} 
            </div>
            <div class="col">
              {% if forma_pago == '1' %}
                <select id = "comboBoxFormaPago" class = "form-control"  name="forma_pago">
                    <option>Forma de pago...</option>
                    <option value="1" selected>Efectivo</option>
                    <option value="2">Tarjeta de Credito</option>
                </select>
              {% elif forma_pago == '2' %}
                <select id = "comboBoxFormaPago" class = "form-control"  name="forma_pago">
                    <option>Forma de pago...</option>
                    <option value="1">Efectivo</option>
                    <option value="2" selected>Tarjeta de Credito</option>
                </select>
              {% else %}
                <select id = "comboBoxFormaPago" class = "form-control" name="forma_pago">
                    <option selected>Forma de pago...</option>
                    <option value="1">Efectivo</option>
                    <option value="2">Tarjeta de Credito</option>
                </select>
              {% endif %} 

            </div>
            <div class="col">
              {% if iva == '1' %}
                <select id = "comboBoxIva" class = "form-control" name="iva">
                    <option value="1" selected>IVA</option>
                    <option value="2">No IVA</option>
                </select>
              {% elif iva == '2'%}
                <select id = "comboBoxIva" class = "form-control" name="iva">
                    <option value="1">IVA</option>
                    <option value="2" selected>No IVA</option>
                </select>
              {% else %}
                <select id = "comboBoxIva" class = "form-control" name="iva">
                    <option value="1">IVA</option>
                    <option value="2">No IVA</option>
                </select>
              {% endif %}
            </div>
            <div class="col pr-4 pb-3">
              {% if estado == '1'%}
                <select id = "comboBoxIva" class = "form-control" name="estado">
                    <option value="1" selected>Pagado</option>
                    <option value="2">Pendiente</option>
                </select>
              {% elif estado == '2'%}
                <select id = "comboBoxIva" class = "form-control" name="estado">
                    <option value="1">Pagado</option>
                    <option value="2" selected>Pendiente</option>
                </select>
              {% else %}
                <select id = "comboBoxIva" class = "form-control" name="estado">
                    <option value="1">Pagado</option>
                    <option value="2">Pendiente</option>
                </select>
              {% endif%}           
            </div>

          </div>
      
    </section>
    
<section class = "seccionIntermedia">
  {% csrf_token %}
  <div class="row align-items-center">
    <div class="col input-group mb-3 pt-3 pl-4"> 
      

      
      <select class = "form-control"  id="codigo_producto" name="codProd">
                    <option>seleccione un producto...</option>
                    {% for p in productos %}
                    <option value={{p.codigo}}>{{p.nombre_produc}}</option>
                    {% endfor %}
      </select>
      
      <div class="input-group-append">
        <button class="btn btn-primary" name='consultar_producto' type="submit" > <b><i class="fa fa-search-plus"></i></b></button> 
      </div>
    </div>
    <div class="col"> 
    {% if cantidad %}            
      <input type="text" class="form-control" name="cantidad" value="{{cantidad}}">
    {% else %} 
      <input type="text" class="form-control" name="cantidad" placeholder="Cantidad">
    {% endif %}             
    </div>
    <div class="col">
    {% if precio_venta%}             
      <input type="text" class="form-control" value="{{precio_venta}}" name="precio_venta" readonly id="precio_venta" placeholder="Precio venta" >
    {% else %}
      <input type="text" class="form-control" readonly id="precio_venta" name="precio_venta" placeholder="Precio venta" >
    {% endif %}                
    </div>
    <div class="col"> 
      
      <div class="input-group mb-3 pt-3">
        <div class="input-group-append">
    <span class="input-group-text"><i class="fa fa-tag font-weight-bold"></i></span>
      </div>
    
    {% if descuento %}             
      <input type="text"  class="form-control" name="descuento" value="{{descuento}}" > 
    {% else %} 
      <input type="text"  class="form-control" name="descuento" placeholder="descuento" > 
    {% endif %}
    
      </div>                
    </div>
    <div class="col pr-5">             
      <button type="submit" class="btn btn-dark btn-block" name='agregar'>Agregar</button>                
    </div>
  </div>
</section>


<section class = "seccionInferior">
  
    
    <div class="row justify-content-md-center">
      <div class="col-9 pl-5">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Total</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
         
          {% if tabla_cont %}
            {% for v in tabla_cont%}
              <tr >
                <td >{{v.codigo}}</td>
                <td>{{v.nombreprod}}</td>
                <td>{{v.cantidad}}</td>
                <td>{{v.precio}}</td>
                <td>{{v.total}}</td>
                <td ><button class="btn btn-danger"  type="submit" name='borrar' onclick="confimarEliminacionfila({{v.id}})" target="_blank"><i class="fa fa-trash" aria-hidden="true" name="borrar"></i></button><td>
              </tr>
              {% endfor %}
          {% endif %}
          
          </tbody>
        </table>
      </div>
      <div class="col-3 pr-5">
        <section class="formularioderecho">
            
              <div class="row justify-content-md-center container-fluid pl-4 pr-0 mt-5 pt-5 pb-5">
                <div class="col-md-12 pb-4">
                {% if total_a_pagar %}
                  <input type="text" class="form-control" value="$ {{total_a_pagar}}" name='total_a_pagar' readonly placeholder="Total a pagar">
                {% else %}
                   <input type="text" class="form-control" name='total_a_pagar' readonly placeholder="Total a pagar">
                {% endif %}
                </div>
                <div class="col-md-12 pb-4">
                {% if recibido %}
                  <input type="text" class="form-control" name='recibido' value="{{recibido}}" placeholder="Recibido">
                {% else %}
                   <input type="text" class="form-control" name='recibido' placeholder="Recibido">
                {% endif %}
                </div>
                <div class="col-md-12 pb-4">
                {% if cambio %}
                  <input type="text" class="form-control" value="{{cambio}}" name='cambio' readonly placeholder="Cambio">
                {% else %} 
                  <input type="text" class="form-control" name='cambio' readonly placeholder="Cambio">
                {% endif %}  
                </div>
                <div class="col-md-12 pb-2">
                  <button type="submit" name='pagar' class="btn btn-dark btn-block">Realizar pago</button>   
                </div>
                 
              </div>
           
        </section>
      </div>
    </div>
  </form>
</section>
</body>
</html> 
{% endblock %}
