body{
    font-family: arial, helvetica;
    background: e8e8e8;
}

.menu{
    list-style: initial;
    padding: 0;
    background:darkgrey;
    width: 19%;
    max-width: 655px;
    margin: auto;
    margin-right: 45px;
    display: -webkit-box;
    
    
    
    
}

.menu li a{
    text-decoration:gray;
    color: white;
    padding: 1px;
    display: block;
    margin-right:3px;
    text-shadow: wheat;
    
}

.menu li{
    display: inline-block;
    text-align: center;
    
}

.menu li a:hover{
    background:blue;
}

