*{
    margin:0;
    padding:0;
}

#barra {
    position: fixed;
    width: 150;
    height: 100%;
    background: #240D66;
    left:-150px;
    transition: all 500ms linear;
}

#barraUp {
    position: static;
    width: 200;
    height: 100%;
    background: #240D66;
    
    
}

#barraUp ul li{
    color: rgba(230,230,230,.9);
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 1px solid rgba(100,100,100,.3);
    cursor: pointer;
     
    

}
#barraUp a{
    color:rgba(230,230,230,.9);
    list-style: none;
    font-family: sans-serif;

}

#barraUp a:hover{
    color:#8B8892;
}
#barra.active{
    left:0;
}

#barra a{
    color:rgba(230,230,230,.9);
    list-style: none;
    font-family: sans-serif;

}

#barra a:hover{
    color:#8B8892;
}
#barra ul li{
    color: rgba(230,230,230,.9);
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 1px solid rgba(100,100,100,.3);
    cursor: pointer;
    
     
    

}


.logo{
   
    display: block;
    margin:0 auto;
    width: 100px;
    height: 100px;
}

#barra .boton-esconder{
    position: absolute;
    left: 150px;
    top: 20px;
    cursor: pointer;
}

#barra .boton-esconder span {
    display: block;
    width: 20px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #240D66;
}