body{
    background-image: url(../fondo_login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.formulario{
    background: rgba(0, 174, 243,.1);
    padding: 20px;
}
.ingresar{
    background: #b7dfe6e7;
    border-radius: 10px;
    box-shadow:0 0 30px rgba(0, 174, 243,.568);
    padding: 10px;
}
.letralogo{
    color: white;
    font-size: 30px;
}
